
body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}
button {
    background: red;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid #fff;
    cursor: pointer;
}
#walletOptions button {
    display: block;
    margin: 10px auto;
}
#progress {
    width: 100%;
    background: #333;
    height: 20px;
    margin-top: 20px;
}
#progressBar {
    width: 0;
    height: 100%;
    background: red;
}
